/* Use more unique class names */
.body-centering-image {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Horizontally center the content */
    align-items: center; /* Vertically center the content */
    height: 100vh; /* 100% of the viewport height */
    background-color: #f0f0f0; /* Background color for the body */
}

.centered-container-image {
    text-align: center; /* Center the image horizontally */
}

.centered-img {
    max-width: 100%; /* Ensure the image fits within the container */
    max-height: 100%; /* Ensure the image fits within the container */
}
